/**
 * RESET
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --metric-gutter: 1.5rem;
    --metric-mini-gutter: 0.8rem;
    --metric-gutter-neg: -1.5rem;
    --metric-mini-gutter-neg: -0.8rem;
    --color-dark: #1e4147;
    --color-light: #aac789;
        
    }

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
        --color-text: var(--color-light);
        --color-bg: var(--color-dark);
        --color-text-rev: var(--color-light);
        --color-bg-rev: var(color-dark);
            
    }}

body {
    color: var(--color-text);
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

button:active {
    transform: scale(0.99);
    }
      
h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1;
}
      
ul {
    padding-left: 1rem;
}
      
li + li {
    margin-top: 0.5rem;
}    
      
sup {
    font-weight: 400;
    line-height: 0.75;
    font-size: 0.6em;
}
      
label {
    font-size: 1.3rem;
    color: var(--color-mid);
    font-family: var(--font-mono);
    font-weight: 400;
}
      
::placeholder {
    opacity: 0.75;
}

    /**
 * App shell
 */
.app {
    flex: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.title {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: var(--metric-gutter);
    /* outline: 0.25px solid; */
    transition: opacity 500ms linear;
    transition-delay: 100ms;
}

.title h1 {
    max-width: 60ch;
}

.form_container {
    float: left;
  }
  
  .left {
    width: 35%;
  }
  
  .right {
    width: 65%;
    display: block;
  }